h2 {
  // font-family: 'Homemade Apple', cursive;
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.aboutUs {
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.contactStyles {
  margin: auto;
  text-align: center;
}

.donate {
  padding: 21px 34px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;

  border-color: #231f20;
  text-align: center;
}

.foster {
  padding: 21px 34px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: lightblue;
  border-color: #231f20;
  text-align: center;
}

.volunteer {
  padding: 21px 34px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
 
  border-color: #231f20;
  text-align: center;
}
