h2 {
  // font-family: 'Homemade Apple', cursive;
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.aboutUs {
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.contactStyles {
  margin: auto;
  text-align: center;
}
