h2 {
  // font-family: 'Homemade Apple', cursive;
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
  font-family: 'Amatic SC', cursive;
}

// .desc {
//   padding-bottom: .5em;
//   text-align: center;
//   padding-top: 2em;
//   margin-left: 100px;
//   margin-right: 100px;
//   h2 {
//     text-align: center;
//   }
// }

.aboutUs {
  padding-bottom: .5em;
  text-align: center;
  padding-top: 2em;
  margin: auto;
}

.contactStyles {
  margin: auto;
  text-align: center;
}

.donate {
  padding: 21px 34px;
  text-align: center;
  width: 600px;
  margin: auto;
}

.don-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  display: block;
}

.fos-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  display: block;
}

.vol-btn {
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    display: block;
}

.bio-img {
  // padding-right: 21px;
  // padding-left: 34px;
  text-align: center;
  margin: 10px;
}

.don-pic {
  text-align: center;
  vertical-align: middle;
}

.fos-pic {
  margin: 5px;

}

.vol-pic {
  margin: 5px;
}

.bgImage2 {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/fido-e7f7f.appspot.com/o/dog-bg-2-whiteoverlay.jpg?alt=media&token=422661f8-9316-4733-a609-9804d59bfd2a');
  height: 100vh;
}

.aboutTitle {
  text-align: center !important; 
}
