// .igImage {
//   width: 150px;
//   text-align: center;
//   background: white;
// }

.iconDiv {
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: red;
}

.dogPageIcons i {
  font-size: 1.5em;
  margin: 10px;
  // text-align: center;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.dogPageIcons {
  text-align: center;
}
